.header {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.header-top {
    background-color: white;
    display: flex;
    height: 2.5rem;
}

@media (max-width: 1025px) {
    .header-top {
        display: none;
    }
}

.top-logo {
    position: relative;
    margin-left: 3rem;
}

.space {
    flex-grow: 1;
}

.small-logo {
    padding-top: 0.5em;
    position: relative;
    font-size: larger;
    color: rgb(133, 133, 133)
}


.link-container {
    display: flex;
    /*border: 1px solid red;*/
    margin-right: 3rem;
}

.link-wrap {
    /*border: 1px solid green;*/
    font-size: 14px;
    padding-left: 1rem;
    padding-top: 0.75rem;
}

.link-wrap a {
    text-decoration: none;
    color:#666666;
    cursor: pointer;
}




/* Large section of header, black background */
.header-middle {
    background-color: black;
    height: 7rem;
    color: white;
    display: flex;
}

/* Big LEVIATHAN text */
.middle-logo {
    /*border: 1px solid red;*/
    position: relative;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.big-logo {
    font-size: 48px;
    /*padding-top: 2rem;*/
    height: 50%;
    position: relative;
}

.search-container {
    
    /*border: 1px solid green;*/
    
    width: 80%;
    display: flex;
    margin-left: 3rem;
    align-items: center;
}

.search {
    width: 50%;
    height: 35%;
    position: relative;
}

.search::placeholder {
    color:rgb(83, 83, 83);
    font-size: 110%;
}





