.footer-wrapper {
    background-color: black;
    width: 100%;
    color: white;
    position: relative;
}

.main-container {
    padding: 3rem 6rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.link-column {
    position: relative;
    margin-right: 1em;
    margin-left: 1em;
}

.column-section {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    width: auto;
}

.shopping, .other-info, .contact{
    margin-top: 1em;
}



.footer-link-container {
    display: grid;
    width: 100%;
}

.small-link {
    margin-top: 1.5em;
    word-wrap: break-word;
    font-size: 12px;
    color: rgb(163, 163, 163);
    text-decoration: none;
}

.address {
    margin-top: 2em;
    font-size: 12px;
    color: rgb(163, 163, 163);
    display: grid;
}

.address span:nth-of-type(1){
    font-weight: bold;
}



.actions{
    width: 40%;
    border: 2px solid red;
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-left: 4rem;
}

.icon-container {
    border: 2px solid yellow;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.connect-container {
    border: 2px solid green;
    width: 60%;
    text-transform: uppercase;
    font-weight: bold;
}

.app {
    width: 40%;
}

.icon-frame {
    color:rgb(163, 163, 163);
    font-size:40px;
}

