.poster-wrapper {
    height: 57rem;
    border: 2px solid magenta;
}

.big-poster {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
}

.main-image {
    width: 100%;
}

.big-text-container {
    width: 50%;
    height: 40%;
    border: 2px solid yellow;
    position: relative;
}
