.poster-wrapper {
    width: 100%;
    height: 57rem;
}

.big-poster {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;  
}

.main-image {
    width: 100%;
}

.big-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-size: 5vw;
    padding-left: 3rem;
    padding-top: 2em;
}

.small-text-container {
    position: absolute;
    color: white;
    font-size: 2vw;
    padding-left: 3.5rem;
    top: 17em;
}

.small-text span{
    background-color: black;
}

.small-text-red {
    color: rgb(210, 0, 0);
    background-color: black;
}

.shop-now-container {

    position: absolute;
    top: 28rem;
    background-color: rgb(210, 0, 0);
    left: 3.5rem;
    border-radius: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
}


